.app-header {
  padding: 2.5em;
  background: $darkest-color;
  text-align: center;
}

.app-header-avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 10%;
  border: 0.5rem solid $primary-color;
  transition: border 0.5s;
}
.app-header-avatar:hover {
  border: 0.5rem solid $lightest-color;
  transition: border 0.5s;
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}
@media (max-width: 940px) {
  .social-links {
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.837);
  }
  .app-header-avatar {
    border-radius: 100%;
  }
}
@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }

  .app-container {
    max-width: 65rem;
    margin-left: 20rem;
  }
}
